{% load static %}

<!-- footer start -->
<footer class="footer-sm-space">
    <div class="main-footer">
        <div class="container">
            <div class="row gy-4">

                <div class="col-xl-3 col-lg-4 col-sm-8 d-none d-sm-block">
                    <div class="footer-contact">
                        <div class="brand-logo">
                            <a href="{% url 'index' %}" class="footer-logo">
                                <img src="{{settings.logo.url}}" style="width: 100px;border-radius: 10px;"
                                    class="img-fluid blur-up lazyload" alt="logo">
                            </a>
                        </div>
                        <p style="font-size: 18px;">
                            Обнови свой мир технологий!
                        </p>
                        <div class="footer-social">
                            {% if settings.facebook %}
                            <a href="{{settings.facebook}}"><i class="fab fa-facebook"></i></a>
                            {% endif %}
                            {% if settings.telegram %}
                            <a href="{{settings.telegram}}"><i class="fab fa-telegram"></i></a>
                            {% endif %}
                            {% if settings.phone %}
                            <a href="https://wa.me/{{settings.phone}}/?text=Здравствуйте, "><i class="fab fa-whatsapp"></i></a>
                            {% endif %}
                            {% if settings.instagram %}
                            <a href="{{settings.instagram}}"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-8">
                    <div class="footer-links">
                        <div class="footer-title">
                            <h3>Все страницы</h3>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li><a href="{% url 'index' %}" class="font-dark">Главная страница</a></li>
                                <li><a href="{% url 'about' %}" class="font-dark">О нас</a></li>
                                <li><a href="{% url 'faqs' %}" class="font-dark">Часто задаваемые вопросы</a></li>
                                <li><a href="{% url 'category' %}" class="font-dark">Магазин</a></li>
                                <li><a href="{% url 'service' %}" class="font-dark">Наши услуги</a></li>
                                <li><a href="{% url 'news' %}" class="font-dark">Новости</a></li>
                                <li><a href="{% url 'contact' %}" class="font-dark">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-8">
                    <div class="footer-links">
                        <div class="footer-title">
                            <h3>Категории</h3>
                        </div>
                        <div class="footer-content">
                            <ul>
                                {% for category in footer_categories %}
                                <li><a href="{% url 'category_detail' category.slug %}" class="font-dark">{{ category.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-8">
                    <div class="footer-contact">
                        <div class="footer-title">
                            <h3>Свяжитесь с нами</h3>
                        </div><br>
                        <ul class="contact-lists">
                            <li>
                                <span> <span class="font-light">Если у вас остались вопросы позвоните кликнув</span> <br>
                                <b><a href="tel:{{settings.phone}}">{{settings.phone}}</a></b></span>
                            </li>
                            <li>
                                <span><span class="font-light">Наша почта всегда ждет сообщения от вас</span><br><b><a href="mailto:{{settings.email}}">{{settings.email}}</a></b><span>
                            </li>
                            <li>
                                <span><span class="font-light">Мы в 2 Gis</span><br><b><a href="https://go.2gis.com/8v81u" target="_blank">{{settings.location}}</a></b></span>

                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row gy-3">
                <div class="col-md-12   ">
                    <p class="text-center "> &copy; Copyright 2023 {{settings.title}} | Все Права Защищены | <a
                            href="https://codexstudio.site/" class="primary-hover"> Сделано командой Codex-studio </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->